{% extends "layout.html" %}
{% block content %}
  <body>
    <center><h1 style="color:red";> Welcome to UPair! Your classroom pairing destination. </h1></center
    <br></br>
    <br></br>
    <center><a href="/pair"><img src="/static/Logo.png"></a></center>


      <html>
      <title>W3.CSS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <style>
      .w3-btn {width:150px;}
      </style>
      <body>

      <div class="w3-container">
        <br></br>

      <a  href="/login.html" ></a>
      </div>

      </body>
      </html>



{% endblock content %}
